body{
    background-color: #0D0D0D;
}

*{
    color: white;
    margin: 0;
    padding: auto;
}

div{
    padding: 0;
    margin: 0;
}

em{
    text-shadow: 1px 1px 2px rgb(255, 230, 0), 0 0 1em rgb(255, 0, 255), 0 0 0.2em blue;
}

/*CSS flou sur l'image d'intro*/
#intro p{
    font-weight: bold;
}


.flou{
    backdrop-filter: blur(20px);
    border: 1px solid white;
    border-radius: 10px;
}

.flou p, h1{
    color: black;
}

.flou p{
    font-weight: bold;
}

/*CSS image*/

#intro{
    background: url(./img_science_fiction/paysage_fiction.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 40vh;
    width: 100%;
    margin-bottom: 1%;
}

.rounded-5, .rounded-circle, .rounded-circle-centre{
    height: auto;
    width: 20vh;

}

.rond{
    border-radius: 60px;
}

.rounded-circle-centre{
    border-radius: 60px;
}
/*CSS titres soulignées*/
#souligne{
    font-size: 2em;
    text-decoration: underline;
    text-shadow: 1px 1px 2px #88038d, 0 0 1em rgb(190, 189, 189), 0 0 0.2em rgb(84, 2, 100);
}

#soulignepetit{
    font-size: 1.5em;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}


/*CSS Bouton choisir*/
.btn-group{
    color: black;
}

.btn-primary{
    background-color:  #88038d;
}




/*CSS texte catégorie*/
.card-text{
    color: black;
}

.card-text-benef{
    color: #ffa500;
}

/*CSS Footer*/

@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');



.container-fluidf{
    overflow:hidden; 
    background:#262626 ;
    color: #627482 ;
    margin-bottom: 0 ;
    padding-bottom:0  ;
}

small{
    font-size: calc(12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))) !important; 
}

.bold-text{
    color: #989c9e !important;
}


.mt-55{
    margin-top: calc(50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))) !important; 
}


h3{
    font-size: calc(34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))) !important; 
}
 
.social{
    font-size: 21px !important; 
}

.rights{
    font-size: calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important; 
}

/*CSS barre nav*/
/* Changer la couleur des icônes de navigation */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black; /* Icônes de navigation bleues */
}

/* Positionner les boutons de navigation */
.carousel-control-prev{
    color: white;
    border-color: white;
}

h4{
    margin-left: -80%;
    color: blue;
}

.navbar {
    background: linear-gradient(20deg, yellow, blue, red); /* Dégradé avec trois couleurs et un angle de 45° */
    padding: 10px 0;
}

.nav-link{
   color: white;
}

.logocineflix{
    width: 10vh;
    height: 10vh;
    margin-right: 35%;
}

/*CSS lien*/
a{
    text-decoration: none;
    color: #e020e0;
}