body {
  background-color: black;
}
.card {
  width: 100%; /* Prend toute la largeur disponible */
  max-width: 300px; /* Limite la largeur maximale */
  height: 300px; /* Hauteur fixe pour uniformiser */
}

.card-img-top {
  width: 100%;
  height: 300px; /* Réserve un pourcentage de la hauteur totale pour l'image */
  object-fit: cover; /* Ajuste l'image sans déformation */
}
